{
    "jsc": {
        "parser": {
            "syntax": "typescript",
            "decorators": true
        },
        "baseUrl": ".",
        "paths": {
            "@shared/*": [
                "./src/shared/*"
            ]
        }
    }
}